global
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5000
    timeout client 10000
    timeout server 10000

listen socks5_rr_docker
    bind :9050
    mode tcp
    balance roundrobin
    server server0 172.31.66.10:9050
    server server1 172.31.66.11:9050
    server server2 172.31.66.12:9050
